{% extends 'partials/base.html' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center mt-5">
        {% include 'partials/messages.html' %}
    
        <form action="" method="post" class="d-flex align-items-center justify-content-center mt-5 col-4 flex-column">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}