{% extends 'partials/base.html' %}

{% block content %}
    <div class="container ">
        {% include 'partials/messages.html' %}
        
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
        {% else %}
            <p>Please log in or register to access the system.</p>
        {% endif %}

        <div class="d-flex align-items-center justify-content-center mt-5">
            <a href="{% url 'register' %}"><button class="btn btn-primary p-2 m-2">Register</button></a><br>
            <a href="{% url 'login_password' %}"><button class="btn btn-secondary p-2 m-2">Login</button></a><br>
            <a href="{% url 'security_events' %}"><button class="btn btn-success p-2 m-2">Security Events</button></a>
        </div>
    </div>
{% endblock %}
