{% extends 'partials/base.html' %}

{% block content %}
    {% include 'partials/messages.html' %}
<div class="d-flex align-items-center justify-content-center mt-5 flex-column">
    <h3>TOTP Setup</h3>
    <h3>Issuer: MyApp</h3>
    
   <img src="data:image/png;base64,{{ qr_code }}" alt="TOTP QR Code" style="width:220px; height:220px;">
   <form method="post">
    {% csrf_token %}
        <label for="totp_code">Enter TOTP Code:</label>
        <input type="text" id="totp_code" name="totp_code" required>
        <button type="submit" class="btn btn-primary">Verify</button>
   </form>
</div>
{% endblock %}